@font-face {
    font-family: 'Brotherhood-Script';
    src: url('../fonts/Brotherhood_Script.ttf');
}

@font-face {
    font-family: 'Wishing-Well';
    src: url('../fonts/Wishing_Well.otf');
}

body {
    margin: 0;
    padding: 0;
    /* Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
}


/* The only rule that matters */

#video-background {
    /* making the video fullscreen */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    /*Blur Effect on the background video*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1 {
    letter-spacing: 3px;
    color: #fff;
    font-family: 'Brotherhood-Script', 'Jenna Sue', 'Latin Modern Mono';
    font-weight: normal;
    font-size: 150px;
}

h1 span {
    font-family: 'Wishing-Well', 'Daniel', 'Purisa';
    letter-spacing: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 24px;
}

h1 span a {
    color: #fff;
}

#arrowDown {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

#tape {
    font-family: 'Purisa', 'Latin Modern Mono', 'Arial';
    font-size: 11px;
    line-height: 100%;
    color: #fff;
    opacity: 0;
    transition: 1s;
    display: table-cell;
    vertical-align: middle;
}

#tapeImage {
    opacity: 0.03;
    transition: 1s;
    float: left;
    width: 30px;
    height: 30px;
    border: 0;
}

.widgets {
    display: table;
    position: absolute;
    bottom: 0;
    margin: 10px;
    z-index: 20;
}

#playerAudio.widgets {
    right: 0;
}

#dummyTape.widgets {
    left: 0;
}

#dummyTape:hover #tape, #dummyTape:hover #tapeImage {
    opacity: 1;
}

#songName {
    font-family: 'Purisa', 'Latin Modern Mono', 'Arial';
    font-size: 11px;
    line-height: 100%;
    color: #fff;
    opacity: 0;
    transition: 1s;
    display:table-cell;
    vertical-align:middle;
}

#songName, #tape a {
    text-decoration: none;
    color: white;
    opacity: 0;
}

#playerAudio:hover #songName {
    opacity: 1;
}

#audioButton {
    float:right;
    width: 30px;
    height: 30px;
    border: 0;
}

span.typewriter {
    white-space: pre-wrap;
    margin-right: -6px;
}

span.caret {
    background: #777;
}

/*Base Mobile Layout*/
div.terminal, div.terminal a {
    width: 90%;
    margin: 0 auto;
    font-family:courier,fixed;
    font-size: 13px;
    color:#fff;
}

#tab-left, #tab-right, #tab-bottom {
    width: 100%;
    float: left;
}


/*2 Column Layout*/
@media only screen and (min-width: 1024px) {
    .terminal {
        width: 1024px;
        margin: 0 auto;
        overflow: hidden;
        height: 95vh;
    }

    #tab-left {
        width: 50%;
        float: left;
        height: 92vh;
        overflow: auto;
    }

    #tab-right {
        width: 50%;
        float: left;
        height: 92vh;
        overflow: auto;
    }

    #tab-bottom {
        width: 100%;
        float: bottom;
        height: 3vh;
        overflow: hidden;
    }
}

/* TODO: Check if "@media only screen and" is still necessary*/
/*Wide Layout*/
@media only screen and (min-width: 1200px) {
    .terminal {
        width: 1140px;
        margin: 0 auto;
        overflow: hidden;
        height: 100vh;
    }
}

img.pixelated {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    vertical-align: middle;
}

#homeButton.pixelated {
    width: 140px;
    height: 70px;
}

#propic.pixelated {
    width: 325px;
    height: 325px;
}

.tab-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
